

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
  font-style: normal;
}

.logo1-prtfl{
    color:#4D5AE5;
    font-family: "Raleway", 'sans-serif';
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}
.logo2-prtfl{
color:#2E2F42;
font-family: "Raleway", 'sans-serif';
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
} 
.link{
    cursor: pointer;
}
.link:hover{
    color:#404BBF;
}
.nav-link{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

}
.section1{
    background-color: #2E2F42;
}
.hero-tittle{
        color: #FFFFFF;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.1;
        font-family:'Roboto';
}
.hero-button{
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}
.hero-button:hover{
    background-color: #404BBF;
}
.li-feature-tittle{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.li-feature-par{
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
}
.title-our{
font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 0.6;
    color: #2E2F42;
}

